body {
  font-family: Verdana;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: rgb(234, 234, 234);
  padding-top: 20px;
}

.main-section {
  padding-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 350px;
  background-color: white;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  height: 350px;
}

h1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 25px;
}

#input {
  border-style: solid;
  border-color: black;
  height: 30px;
  width: 200px;
  text-align: center;
  font-size: 25px;
  border-radius: 4px;
}

#submit {
  margin-top: 5px;
  background-color: rgb(255, 64, 64);
  border: none;
  height: 40px;
  width: 90px;
  font-size: 20px;
  color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  cursor: pointer;
}
